*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0f0f0f;
color:white;
}


.hero{

text-align:center;
padding:150px 20px;

background-image:url("../imagens/capa.jpg");
background-size:cover;
background-position:center;

}


.hero h1{

font-size:60px;
margin-bottom:10px;

}


.hero p{

font-size:22px;
margin-bottom:30px;

}


.botao-principal{

background:#00c853;
padding:15px 30px;
border-radius:6px;
text-decoration:none;
color:white;
font-weight:bold;

display:inline-block;
margin-top:20px;

}


.sobre{

padding:80px 20px;
text-align:center;
max-width:900px;
margin:auto;

}


.servicos{

padding:80px 20px;
text-align:center;

}


.cards{

display:flex;
flex-wrap:wrap;
justify-content:center;
gap:25px;
margin-top:40px;

}


.card{

background:#1c1c1c;
padding:20px;
border-radius:10px;
width:250px;
transition:0.3s;

}


.card:hover{

transform:translateY(-10px);
background:#222;

}


.card img{

width:100%;
border-radius:8px;
margin-bottom:10px;

}


.galeria{

padding:80px 20px;
text-align:center;

}


.fotos{

display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;

}


.fotos img{

width:300px;
border-radius:10px;
transition:0.3s;

}


.fotos img:hover{

transform:scale(1.05);

}


.contato{

text-align:center;
padding:80px 20px;
background:#151515;

}


footer{

text-align:center;
padding:20px;
background:black;
font-size:14px;

}


.whatsapp-float{

position:fixed;
bottom: 25px;
right:25px;
background:#25D366;
color:white;
font-size:28px;
padding:15px;
border-radius:50%;
text-decoration:none;

}


.galeria{
padding:60px 20px;
text-align:center;
}

.carousel{
overflow:hidden;
position:relative;
width:100%;
}

.carousel-track{
display:flex;
gap:20px;
animation:scroll 40s linear infinite;
}

.carousel-track img{
width:300px;
height:200px;
object-fit:cover;
border-radius:10px;
flex-shrink:0;
transition:transform 0.3s;

user-select:none;
-webkit-user-select:none;
-moz-user-select:none;
}

.carousel-track img:hover{
transform:scale(1.05);
}

@keyframes scroll{

0%{
transform:translateX(0);
}

100%{
transform:translateX(-50%);
}

}